<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ERPcs" providerName="System.Data.OleDb" connectionString="Persist Security Info=False;User ID=pr_int_user;Password=.pdthm;Data Source=SL-DB-SRV;Initial Catalog=Erp_App;Application Name=ERPSyte2;"/>
    <add name="MS2cs" providerName="System.Data.OleDb" connectionString="Persist Security Info=False;User ID=el_mission;Password=mis32pwd;Data Source=SQL2-SRV;Initial Catalog=El_All;Application Name=ERPSyte2;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Windows" />
    <httpRuntime executionTimeout="1200"/>
    <!--<authorization>
          <deny users="?"/>
          <allow users="*"/>
      </authorization>-->
    <!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать HTML-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="faultingPox"  type="ERPSyte2.Services.WCFErrorHandle+FaultingPoxBehaviorElement,  ERPSyte2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
        <add name="faultingJson" type="ERPSyte2.Services.WCFErrorHandle+FaultingJsonBehaviorElement, ERPSyte2, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp helpEnabled="true" />
          <!--so just ignore it https://social.msdn.microsoft.com/Forums/en-US/0b1ede16-c971-48cf-aaf6-258554be37fc/wcf-warning-the-element-behavior-has-invalid-child-element?forum=wcf-->
          <faultingPox />
        </behavior>
        <behavior name="ajaxBehavior">
          <enableWebScript />
          <!--so just ignore it https://social.msdn.microsoft.com/Forums/en-US/0b1ede16-c971-48cf-aaf6-258554be37fc/wcf-warning-the-element-behavior-has-invalid-child-element?forum=wcf-->
          <faultingJson />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <standardEndpoints>
      <webHttpEndpoint>
        <!--the "" standard endpoint is used by WebServiceHost for auto creating a web endpoint.-->
        <standardEndpoint name="" helpEnabled="true" faultExceptionEnabled="false" automaticFormatSelectionEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"/>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="ERPSyte2.Services.WCFService" behaviorConfiguration="serviceBehavior" >
        <endpoint address=""     binding="webHttpBinding" name="rest" contract="ERPSyte2.Services.IJSONService" behaviorConfiguration="webBehavior" />
        <endpoint address="json" binding="webHttpBinding" name="json" contract="ERPSyte2.Services.IJSONService" behaviorConfiguration="webBehavior" />
        <endpoint address="xml"  binding="webHttpBinding" name="xml"  contract="ERPSyte2.Services.IXMLService"  behaviorConfiguration="webBehavior" />
        <endpoint address="ajax" binding="webHttpBinding" name="ajax" contract="ERPSyte2.Services.IAJAXService" behaviorConfiguration="ajaxBehavior"/>
        <endpoint address="mex"  binding="mexHttpBinding" name="mex"  contract="IMetadataExchange" />
      </service>
    </services>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
    </serviceHostingEnvironment>
  </system.serviceModel>
</configuration>