<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="ERPcs" providerName="System.Data.OleDb" connectionString="Persist Security Info=False;User ID=pr_int_user;Password=.pdthm;Data Source=SL-DB-SRV;Initial Catalog=Erp_App;"/>
    <add name="MS2cs" providerName="System.Data.OleDb" connectionString="Persist Security Info=False;User ID=el_mission;Password=mis32pwd;Data Source=SQL2-SRV;Initial Catalog=El_All;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--
            Раздел <authentication> позволяет настроить параметры 
            режима проверки подлинности, используемого ASP.NET для проверки 
            подлинности пользователя, запрашивающего разрешение на доступ. 
        -->
    <authentication mode="Windows"/>
    <!--<authorization>
          <deny users="?"/>
          <allow users="*"/>
      </authorization>-->
    <!--
            Раздел <customErrors> служит для настройки действий, 
            выполняемых при возникновении необрабатываемой 
            ошибки во время выполнения запроса. В частности, 
            разработчик может задать HTML-страницы ошибок 
            для отображения вместо трассировки ошибки в стеке.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ERPSyte2.WCFAjaxServiceAspNetAjaxBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding>
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows"></transport>
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="ERPSyte2.WCFAjaxService" behaviorConfiguration="serviceBehavior">
        <endpoint address="" behaviorConfiguration="ERPSyte2.WCFAjaxServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="ERPSyte2.IWCFAjaxService" />
        <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
      </service>
    </services>
  </system.serviceModel>
</configuration>