.cgrid{
    background-color: Window;
}

.hdcol{
    background-color: ButtonFace;
    border-color: #000;
    border-style: solid;    
    border-width: 1px;
    font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 9pt;
    text-align: center;
    padding: 0.25em 0.25em 0.25em 0.25em;
    vertical-align: middle;
    max-width: 100px;
}

.itcol, .itcolct, .itcolrt, .itcolnw, .itcol300{
    border-color: #000;
    border-style: solid;    
    border-width: 1px;
    font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 9pt;
    padding: 0.25em 0.25em 0.25em 0.25em;
}

.itcol300{
    max-width: 300px;
}

.itcolrt {
    text-align: right;
}

.itcolct {
    text-align: center;
}

.itcolnw {
    white-space: nowrap;
}

.tdcntr {
    text-align: center;
}

#tabs-1 tr:nth-of-type(even) {
    background-color: Window;
}

tr:nth-of-type(odd) {
    background-color: #f0f0f0;
}

.datepicker  {
    background-color: #ff0000;
}

.HeaderPie {
    font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 11pt;
/*    margin:auto auto auto 300px;*/
    padding: 0.5em 0.5em 0.5em 0.5em;
    text-align: center;
    font-weight: bold;
}

.HeaderChart{
    background-color: Window;
    /*border-style: solid;    
    border-width: 1px;*/
    font-family: Arial, "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-size: 9pt;
    text-align: center;
    padding: 2em 0.25em 0.25em 0.25em;
    vertical-align: middle;
    /*max-width: 100px;*/
}

.TDLabel1 {
    padding: 0.25em 0.25em 0.25em 1.25em;
}

.datefield1 {
    width: 100%;
}

.CheckBoxFilter label {
    padding-left: 5px;
    display: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.TextBoxFilter{
    width: 30px;
}

.centered{
    margin: 0 auto;
}

.aButton0, .aButton1{
    text-align: center; 
    font-family: Verdana,Arial,sans-serif;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 1px 2px;
    margin: 6px;
    border: 1px solid #787878;
}

    .aButton0{
        background-color: #ff6666;
    }

        .aButton0:hover{
            background-color: #ffcccc;
        }

    .aButton1{
        background-color: #66ff66;
    }

        .aButton1:hover{
            background-color: #ccffcc;
        }
